In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('store_data.csv')
print(df)

    Order_id                          Product    Category  Quantity  Price  \
0       1001                Yezz Classic C21A        Yezz         1   2896
1       1002               Nokia 6121 classic       Nokia         5   6458
2       1003                  BlackBerry Leap  BlackBerry         1   4013
3       1004              Coolpad Cool 3 Plus     Coolpad         4   6419
4       1005                    Samsung i7110     Samsung         5   4795
5       1006                      vivo X51 5G        vivo         2  10351
6       1007               Huawei Ascend G350      Huawei         1  11024
7       1008                     Samsung X670     Samsung         5   2455
8       1009                    vivo X50 Pro+        vivo         5  10938
9       1010                    Motorola W205    Motorola         1   7512
10      1011                 vivo X60 (China)        vivo         5   7748
11      1012                    verykool i320    verykool         3   2865
12      1013                 Yezz Andy 3.5EI3        Yezz         4   4502
13      1014                        Huawei Y7      Huawei         3   9428
14      1015                vivo iQOO Neo3 5G        vivo         3   7186
15      1016                  Pantech Link II     Pantech         2   4038
16      1017                  Sony Xperia XZ2        Sony         3   3864
17      1018  Samsung Galaxy Tab A 8.0 (2019)     Samsung         3   5847
18      1019               Panasonic Eluga A2   Panasonic         1   9333
19      1020                 Tecno Spark 6 Go       Tecno         2   6092

    Total_Amount        Date
0              0  04/04/2024
1              0  15/11/2024
2              0  26/09/2024
3              0  13/06/2024
4              0  20/04/2024
5              0  24/10/2024
6              0  28/06/2024
7              0  20/02/2024
8              0  03/07/2024
9              0  17/04/2024
10             0  11/08/2024
11             0  08/11/2024
12             0  14/10/2024
13             0  29/02/2024
14             0  28/05/2024
15             0  10/10/2024
16             0  17/09/2024
17             0  09/09/2024
18             0  13/05/2024
19             0  15/02/2024

In [3]:
print("Original Data:")
print(df.head())

Original Data:
   Order_id              Product    Category  Quantity  Price  Total_Amount  \
0      1001    Yezz Classic C21A        Yezz         1   2896             0
1      1002   Nokia 6121 classic       Nokia         5   6458             0
2      1003      BlackBerry Leap  BlackBerry         1   4013             0
3      1004  Coolpad Cool 3 Plus     Coolpad         4   6419             0
4      1005        Samsung i7110     Samsung         5   4795             0

         Date
0  04/04/2024
1  15/11/2024
2  26/09/2024
3  13/06/2024
4  20/04/2024

In [4]:
df.fillna(value = 0,inplace=True)

In [5]:
df

,Order_id,Product,Category,Quantity,Price,Total_Amount,Date
0,1001,Yezz Classic C21A,Yezz,1,2896,0,04/04/2024
1,1002,Nokia 6121 classic,Nokia,5,6458,0,15/11/2024
2,1003,BlackBerry Leap,BlackBerry,1,4013,0,26/09/2024
3,1004,Coolpad Cool 3 Plus,Coolpad,4,6419,0,13/06/2024
4,1005,Samsung i7110,Samsung,5,4795,0,20/04/2024
5,1006,vivo X51 5G,vivo,2,10351,0,24/10/2024
6,1007,Huawei Ascend G350,Huawei,1,11024,0,28/06/2024
7,1008,Samsung X670,Samsung,5,2455,0,20/02/2024
8,1009,vivo X50 Pro+,vivo,5,10938,0,03/07/2024
9,1010,Motorola W205,Motorola,1,7512,0,17/04/2024
10,1011,vivo X60 (China),vivo,5,7748,0,11/08/2024
11,1012,verykool i320,verykool,3,2865,0,08/11/2024
12,1013,Yezz Andy 3.5EI3,Yezz,4,4502,0,14/10/2024
13,1014,Huawei Y7,Huawei,3,9428,0,29/02/2024
14,1015,vivo iQOO Neo3 5G,vivo,3,7186,0,28/05/2024
15,1016,Pantech Link II,Pantech,2,4038,0,10/10/2024
16,1017,Sony Xperia XZ2,Sony,3,3864,0,17/09/2024
17,1018,Samsung Galaxy Tab A 8.0 (2019),Samsung,3,5847,0,09/09/2024
18,1019,Panasonic Eluga A2,Panasonic,1,9333,0,13/05/2024
19,1020,Tecno Spark 6 Go,Tecno,2,6092,0,15/02/2024

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
if 'Quantity' in df.columns and 'Price' in df.columns:
    df['Total_Amount'] = df['Quantity'] * df['Price']
    
    # Display the Total_Amount column
print(df['Total_Amount'])
print("\nCleaned Data:")
print(df.head())

0      2896
1     32290
2      4013
3     25676
4     23975
5     20702
6     11024
7     12275
8     54690
9      7512
10    38740
11     8595
12    18008
13    28284
14    21558
15     8076
16    11592
17    17541
18     9333
19    12184
Name: Total_Amount, dtype: int64

Cleaned Data:
   Order_id              Product    Category  Quantity  Price  Total_Amount  \
0      1001    Yezz Classic C21A        Yezz         1   2896          2896
1      1002   Nokia 6121 classic       Nokia         5   6458         32290
2      1003      BlackBerry Leap  BlackBerry         1   4013          4013
3      1004  Coolpad Cool 3 Plus     Coolpad         4   6419         25676
4      1005        Samsung i7110     Samsung         5   4795         23975

         Date
0  04/04/2024
1  15/11/2024
2  26/09/2024
3  13/06/2024
4  20/04/2024

In [8]:
total_amount = df['Total_Amount'].sum()
print(f"\nTotal Amount of all orders: {total_amount}")

Total Amount of all orders: 368964

In [9]:
most_product_sold = df.groupby('Product')['Quantity'].sum().idxmax()
print(most_product_sold)

Nokia 6121 classic

In [11]:
if 'Quantity' in df.columns and 'Price' in df.columns:
    df['Total_Amount'] = df['Quantity'] * df['Price']
    total_sales_per_category = df.groupby('Category')['Total_Amount'].sum()
    print(f"\nTotal Sales per Category:\n{total_sales_per_category}")
    # Find orders above 500
    orders_above_500 = df[df['Total_Amount'] > 500]
    print(f"\nOrders above 500:\n{orders_above_500}")

Total Sales per Category:
Category
BlackBerry      4013
Coolpad        25676
Huawei         39308
Motorola        7512
Nokia          32290
Panasonic       9333
Pantech         8076
Samsung        53791
Sony           11592
Tecno          12184
Yezz           20904
verykool        8595
vivo          135690
Name: Total_Amount, dtype: int64

Orders above 500:
    Order_id                          Product    Category  Quantity  Price  \
0       1001                Yezz Classic C21A        Yezz         1   2896
1       1002               Nokia 6121 classic       Nokia         5   6458
2       1003                  BlackBerry Leap  BlackBerry         1   4013
3       1004              Coolpad Cool 3 Plus     Coolpad         4   6419
4       1005                    Samsung i7110     Samsung         5   4795
5       1006                      vivo X51 5G        vivo         2  10351
6       1007               Huawei Ascend G350      Huawei         1  11024
7       1008                     Samsung X670     Samsung         5   2455
8       1009                    vivo X50 Pro+        vivo         5  10938
9       1010                    Motorola W205    Motorola         1   7512
10      1011                 vivo X60 (China)        vivo         5   7748
11      1012                    verykool i320    verykool         3   2865
12      1013                 Yezz Andy 3.5EI3        Yezz         4   4502
13      1014                        Huawei Y7      Huawei         3   9428
14      1015                vivo iQOO Neo3 5G        vivo         3   7186
15      1016                  Pantech Link II     Pantech         2   4038
16      1017                  Sony Xperia XZ2        Sony         3   3864
17      1018  Samsung Galaxy Tab A 8.0 (2019)     Samsung         3   5847
18      1019               Panasonic Eluga A2   Panasonic         1   9333
19      1020                 Tecno Spark 6 Go       Tecno         2   6092

    Total_Amount        Date
0           2896  04/04/2024
1          32290  15/11/2024
2           4013  26/09/2024
3          25676  13/06/2024
4          23975  20/04/2024
5          20702  24/10/2024
6          11024  28/06/2024
7          12275  20/02/2024
8          54690  03/07/2024
9           7512  17/04/2024
10         38740  11/08/2024
11          8595  08/11/2024
12         18008  14/10/2024
13         28284  29/02/2024
14         21558  28/05/2024
15          8076  10/10/2024
16         11592  17/09/2024
17         17541  09/09/2024
18          9333  13/05/2024
19         12184  15/02/2024

In [14]:
df.to_csv('STORE.csv',index=False)
print("File Saved")

File Saved